<%= form_with(model: external_user, local: true) do |form| %>
  <% if external_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(external_user.errors.count, "error") %> prohibited this external_user from being saved:</h2>

      <ul>
      <% external_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :external_user_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
