<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firm_one_name %>
    <%= form.text_field :firm_one_name, id: :invoice_firm_one_name %>
  </div>

  <div class="field">
    <%= form.label :firm_one_vat %>
    <%= form.text_field :firm_one_vat, id: :invoice_firm_one_vat %>
  </div>

  <div class="field">
    <%= form.label :firm_one_eik %>
    <%= form.text_field :firm_one_eik, id: :invoice_firm_one_eik %>
  </div>

  <div class="field">
    <%= form.label :firm_one_address %>
    <%= form.text_field :firm_one_address, id: :invoice_firm_one_address %>
  </div>

  <div class="field">
    <%= form.label :firm_one_mol %>
    <%= form.text_field :firm_one_mol, id: :invoice_firm_one_mol %>
  </div>

  <div class="field">
    <%= form.label :firm_two_name %>
    <%= form.text_field :firm_two_name, id: :invoice_firm_two_name %>
  </div>

  <div class="field">
    <%= form.label :firm_two_vat %>
    <%= form.text_field :firm_two_vat, id: :invoice_firm_two_vat %>
  </div>

  <div class="field">
    <%= form.label :firm_two_eik %>
    <%= form.text_field :firm_two_eik, id: :invoice_firm_two_eik %>
  </div>

  <div class="field">
    <%= form.label :firm_two_address %>
    <%= form.text_field :firm_two_address, id: :invoice_firm_two_address %>
  </div>

  <div class="field">
    <%= form.label :firm_two_mol %>
    <%= form.text_field :firm_two_mol, id: :invoice_firm_two_mol %>
  </div>

  <div class="field">
    <%= form.label :invoice_number %>
    <%= form.text_field :invoice_number, id: :invoice_invoice_number %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid, id: :invoice_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
