<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Firm name</th>
      <th>Firm vat</th>
      <th>Firm eik</th>
      <th>Firm address</th>
      <th>Firm mol</th>
      <th>Invoice number</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.firm_name %></td>
        <td><%= invoice.firm_vat %></td>
        <td><%= invoice.firm_eik %></td>
        <td><%= invoice.firm_address %></td>
        <td><%= invoice.firm_mol %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.paid %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
