<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Firm one name</th>
      <th>Firm one vat</th>
      <th>Firm one eik</th>
      <th>Firm one address</th>
      <th>Firm one mol</th>
      <th>Firm two name</th>
      <th>Firm two vat</th>
      <th>Firm two eik</th>
      <th>Firm two address</th>
      <th>Firm two mol</th>
      <th>Invoice number</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.firm_one_name %></td>
        <td><%= invoice.firm_one_vat %></td>
        <td><%= invoice.firm_one_eik %></td>
        <td><%= invoice.firm_one_address %></td>
        <td><%= invoice.firm_one_mol %></td>
        <td><%= invoice.firm_two_name %></td>
        <td><%= invoice.firm_two_vat %></td>
        <td><%= invoice.firm_two_eik %></td>
        <td><%= invoice.firm_two_address %></td>
        <td><%= invoice.firm_two_mol %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.paid %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
