<p id="notice"><%= notice %></p>

<p>
  <strong>Firm name:</strong>
  <%= @invoice.firm_name %>
</p>

<p>
  <strong>Firm vat:</strong>
  <%= @invoice.firm_vat %>
</p>

<p>
  <strong>Firm eik:</strong>
  <%= @invoice.firm_eik %>
</p>

<p>
  <strong>Firm address:</strong>
  <%= @invoice.firm_address %>
</p>

<p>
  <strong>Firm mol:</strong>
  <%= @invoice.firm_mol %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @invoice.invoice_number %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @invoice.paid %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
