<%= form_with(model: entity, local: true) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :common_name, "Търговска марка или институция" %>
    <%= form.text_field :common_name, id: :entity_common_name %>
  </div>

  <div class="field">
    <%= form.label :website, "Уебсайт" %>
    <%= form.text_field :website, id: :entity_website %>
  </div>

  <div class="field">
    <%= form.label :fb_page, "Fb страница" %>
    <%= form.text_field :fb_page, id: :entity_fb_page %>
  </div>

  <div class="field">
    <%= form.label :description, "Описание" %>
    <%= form.text_field :description, id: :entity_description %>
  </div>

  <div class="field">
    <%= form.label :progress, "Прогрес" %>
    <%= form.collection_select(:progress,
        [["нямаме комуникация", "нямаме комуникация"],
        ["изпратена покана", "изпратена покана"],
        ["колебаят се", "колебаят се"],
        ["потвърдили", "потвърдили"],
        ["отказали", "отказали"]], :first, :second) %>
  </div>

  <div class="field">
    <%= form.label :is_participant, "Потенциален участник?" %>
    <%= form.check_box :is_participant, id: :entity_is_participant %>
  </div>

  <div class="field">
    <%= form.label :is_sponsor, "Потенциален спонсор?" %>
    <%= form.check_box :is_sponsor, id: :entity_is_sponsor %>
  </div>

  <div class="field">
    <%= form.label :is_media, "Медия?" %>
    <%= form.check_box :is_media, id: :entity_is_media %>
  </div>

  <div class="field">
    <%= form.label :is_partner, "Потенциален партньор?" %>
    <%= form.check_box :is_partner, id: :entity_is_partner %>
  </div>

  <div class="field">
    <%= form.label :comments, "Коментари" %>
    <%= form.text_field :comments, id: :entity_comments %>
  </div>

  <div class="field">
    <%= form.label :country, "Държава" %>
    <%= form.country_select(:country, priority_countries: ["BG", "GB", "DE"], priority_countries_divider: "~~~~~~") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
