<%= form_tag(entities_path, method: "get") do %>
  <div class="inline_check_box">
    <%= check_box_tag(:is_participant) %>
    <%= label_tag(:is_participant, "Потенциален участник") %>
  </div>
  <div class="inline_check_box">
    <%= check_box_tag(:is_sponsor) %>
    <%= label_tag(:is_sponsor, "Потенциален спонсор") %>
  </div>
  <div class="inline_check_box">
    <%= check_box_tag(:is_media) %>
    <%= label_tag(:is_media, "Медия") %>
  </div>
  <div class="inline_check_box">
    <%= check_box_tag(:is_partner) %>
    <%= label_tag(:is_partner, "Потенциален партньор") %>
  </div>

  <%= submit_tag("Филтрирай") %>
<% end %>

<h1>Търговски марки и институции</h1>

<%= link_to 'Нова институция', new_entity_path %> |
<%= link_to 'Участници', participants_path %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Име на бранд</th>
      <th>Отговорник</th>
      <th>Уебсайт</th>
      <th>Описание</th>
      <th>Прогрес</th>
      <th>Контакти</th>
      <th>Коментари</th>
      <th>Държава</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.order('common_name').each do |entity| %>
      <tr>
        <td><%= link_to entity.common_name, entity %></td>
        <td><%= entity.user&.display_name %></td>
        <td><%= entity.website %></td>
        <td><%= entity.description %></td>
        <td><%= entity.progress %></td>
        <td>
          <table class="contacts">
            <% entity.contacts.each do |contact| %>
              <tr>
                <td>
                  <%= contact.person_name %>
                </td>
                <td>
                  <%= contact.person_phone %>
                </td>
                <td>
                  <%= contact.person_email %>
                </td>
                <td>
                  <%= contact.person_position %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
        <td><%= entity.comments %></td>
        <td><%= entity.country %></td>
        <td><%= link_to 'Редактирай', edit_entity_path(entity) %></td>
        <td><%= link_to 'Изтрий', entity, method: :delete, data: { confirm: 'Сигурни ли сте, че искате да изтриете институцията?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нова институция', new_entity_path %>
<%= link_to 'Участници', participants_path %>
