<%= form_tag(entities_path, method: "get") do %>
  <%= check_box_tag(:is_participant) %>
  <%= label_tag(:is_participant, "Потенциален участник") %>
  <%= check_box_tag(:is_sponsor) %>
  <%= label_tag(:is_sponsor, "Потенциален спонсор") %>
  <%= check_box_tag(:is_media) %>
  <%= label_tag(:is_media, "Медия") %>
  <%= check_box_tag(:is_partner) %>
  <%= label_tag(:is_partner, "Потенциален партньор") %>

  <%= submit_tag("Филтрирай") %>
<% end %>

<h1>Търговски марки и институции</h1>

<%= link_to 'Нова институция', new_entity_path %> |
<%= link_to 'Участници', participants_path %>

<table>
  <thead>
    <tr>
      <th>Име на бранд</th>
      <th>Уебсайт</th>
      <th>Fb страница</th>
      <th>Описание</th>
      <th>Прогрес</th>
      <th>Потенциален участник?</th>
      <th>Потенциален спопсор?</th>
      <th>Медия?</th>
      <th>Потенциален партньор?</th>
      <th>Коментари</th>
      <th>Държава</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.order('common_name').each do |entity| %>
      <tr>
        <td><%= link_to entity.common_name, entity %></td>
        <td><%= entity.website %></td>
        <td><%= entity.fb_page %></td>
        <td><%= entity.description %></td>
        <td><%= entity.progress %></td>
        <td><%= entity.is_participant %></td>
        <td><%= entity.is_sponsor %></td>
        <td><%= entity.is_media %></td>
        <td><%= entity.is_partner %></td>
        <td><%= entity.comments %></td>
        <td><%= entity.country %></td>
        <td><%= link_to 'Редактирай', edit_entity_path(entity) %></td>
        <td><%= link_to 'Изтрий', entity, method: :delete, data: { confirm: 'Сигурни ли сте, че искате да изтриете институцията?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нова институция', new_entity_path %>
