<p id="notice"><%= notice %></p>

<h3>
  <%= @entity.common_name %>
</h3>

<p>
  <strong>Уебсайт:</strong>
  <%= @entity.website %>
</p>

<p>
  <strong>Fb страница:</strong>
  <%= @entity.fb_page %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @entity.description %>
</p>

<p>
  <strong>Прогрес:</strong>
  <%= @entity.progress %>
</p>

<p>
  <strong>Коментари:</strong>
  <%= @entity.comments %>
</p>

<p>
  <strong>Държава:</strong>
  <%= @entity.country %>
</p>


<%= link_to 'Редактиране', edit_entity_path(@entity) %> |
<%= link_to 'Назад към всички институции', entities_path %>

<br>

<p id="notice"><%= notice %></p>

<h1>Контакти</h1>

<table>
  <thead>
    <tr>
      <th>Човек за контакти</th>
      <th>Телефон</th>
      <th>Email</th>
      <th>Позиция в институцията</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entity.contacts.each do |contact| %>
      <tr>
        <td><%= contact.person_name %></td>
        <td><%= contact.person_phone %></td>
        <td><%= contact.person_email %></td>
        <td><%= contact.person_position %></td>

        <td><%= link_to 'Редактирай', edit_entity_contact_path(@entity, contact) %></td>
        <td><%= link_to 'Изтрий', entity_contact_path(@entity, contact), method: :delete, data: { confirm: 'Сигурни ли сте, че искате да изтриете контакта?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<h2>Добави контакт:</h2>
<%= form_with(model: [ @entity, Contact.new ], local: true) do |form| %>
  <p>
    <%= form.label :person_name, "Име на човек за контакт:" %><br>
    <%= form.text_field :person_name %>
  </p>
  <p>
    <%= form.label :person_phone, "Телефон на човек за контакт:" %><br>
    <%= form.text_area :person_phone %>
  </p>
  <p>
    <%= form.label :person_email, "Имейл на човек за контакт:" %><br>
    <%= form.text_area :person_email %>
  </p>
  <p>
    <%= form.label :person_position, "Позиция на човек за контакт:" %><br>
    <%= form.text_area :person_position %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Редактиране', edit_entity_path(@entity) %> |
<%= link_to 'Назад към всички институции', entities_path %>
