<p id="notice"><%= notice %></p>

<h1>Участник</h1>

<%= link_to 'Нов участник', new_participant_path %>
<%= link_to "Принтирай таблица за БАБХ", babh_path %>
<%= link_to "Принтирай таблица за ИЕЦ", iec_path %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Щанд</th>
      <th>Институция</th>
      <th>Адрес на въпросника</th>
      <th>Имейл с въпросник</th>
      <th>Столове?</th>
      <th>Маса?</th>
      <th>Човек за контакт на събитието</th>
      <th>Телефон на човек на събитието</th>
      <th>Отговорник по хигиената</th>
      <th>Брой покани</th>
      <th>Адрес за кореспонденция</th>
      <th>Брой баджове</th>
      <th>Изложба?</th>
      <th>Експонати</th>
      <th>Лотария?</th>
      <th>Награди</th>
      <th>Дегустации?</th>
      <th>Часове на дегустации</th>
      <th>Електричество</th>
      <th>Брой контакти</th>
      <th>Кола номер</th>
      <th>Принт табела</th>
      <th>Gcf сайт: име</th>
      <th>Gcf сайт: url</th>
      <th>Gcf сайт: описание</th>
      <th>Gcf сайт: адрес</th>
      <th>Презентация?</th>
      <th>Тема презентация</th>
      <th>Лектор презентация</th>
      <th>Коментари</th>
      <th>Общи условия</th>
      <th>Линк</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.order('stand_number').each do |participant| %>
      <tr>
        <td><%= participant.stand_number %></td>
        <td><%= participant.entity.common_name %></td>
        <td><%= edit_questionnaire_url(id: participant.access_token) %></td>

        <td>
          <%
          body = "Здравейте,

          Изпращаме Ви имейл с въпросник за уточняване на детайлите покрай участието Ви в Grand Chocolate Festival 2018.

          При въпроси, молим, не се колебайте да ни потърсите!

          Молим да попълните въпросника до 28 февруари (ако Ви излизат попълнени отговори, това са отговорите Ви от миналата година):

          Линк: #{edit_questionnaire_url(id: participant.access_token)}

          Молим да обърнете внимание на прикачените файлове. Описанието на това за какво служат е в линка с изисквания на БАБХ, който ще намерите във въпросника и прикачен по-долу.

          Молим да ни върнете имейл с:
          1) Удостоверението Ви за регистрация в БАБХ (ако не сте ни го пратили предишни години). Не се отнася за участниците,
          които не се регулират от  БАБХ.
          2) Сканирана попълнена наредба за отговорник по хигиената.
          3) Лого, ако го нямаме от предишните години или се различава от миналите години.

          Очаквайте още следващите две седмици до събитието:
          1) Имейл от нас с маркетинг съвети за представянето Ви по време на изложението.
          2) Уточняващ имейл с часовете за зареждане и аварийните изходи, от които ще осъществи то.

          При въпроси, свързани с въпросника, молим, не се притеснявайте да търсите:
          Ани Ле Фан: 0886 06 77 70

          При въпроси, свързани с ПР и програмата, молим, не се притеснявайте да търсите:
          Ани Димитрова: 0883 321 839

          При въпроси, свързани с попълването на документите, които трябва да ни предадете, молим, не се притеснявайте да търсите:
          Галя Крайчева: 0888 48 65 66

          Поздрави,
          Екипът на Grand Chocolate Festival "

          mail_data = {subject: "Въпросник за изложители Grand Chocolate Festival", body: body}%>
          <a href="mailto:<%= participant.entity.contacts.first&.person_email %>?<%= mail_data.to_param.gsub("+", "%20") %>"> Персонален имейл темплейт</a>
          </td>
        <td><%= participant.questionnaire&.need_chairs %></td>
        <td><%= participant.questionnaire&.need_table %></td>
        <td><%= participant.questionnaire&.event_contact_person_name %></td>
        <td><%= participant.questionnaire&.event_contact_person_phone %></td>
        <td><%= participant.questionnaire&.hygiene_person %></td>
        <td><%= participant.questionnaire&.invitation_number %></td>
        <td><%= participant.questionnaire&.correspondence_address %></td>
        <td><%= participant.questionnaire&.badges_number %></td>
        <td><%= participant.questionnaire&.participate_exhibit %></td>
        <td><%= participant.questionnaire&.exhibit_items %></td>
        <td><%= participant.questionnaire&.participate_lottary %></td>
        <td><%= participant.questionnaire&.lottary_items %></td>
        <td><%= participant.questionnaire&.participate_sampling %></td>
        <td><%= participant.questionnaire&.sampling_hours %></td>
        <td><%= participant.questionnaire&.electricity_consumption %></td>
        <td><%= participant.questionnaire&.plugs_number %></td>
        <td><%= participant.questionnaire&.car_registration_number %></td>
        <td><%= participant.questionnaire&.printed_label %></td>
        <td><%= participant.questionnaire&.gcf_website_name %></td>
        <td><%= participant.questionnaire&.gcf_website_url %></td>
        <td><%= participant.questionnaire&.gcf_website_description %></td>
        <td><%= participant.questionnaire&.gcf_website_address %></td>
        <td><%= participant.questionnaire&.participate_presentation %></td>
        <td><%= participant.questionnaire&.presentation_topic %></td>
        <td><%= participant.questionnaire&.presentation_speaker %></td>
        <td><%= participant.questionnaire&.participant_comments %></td>
        <td><%= participant.questionnaire&.terms_of_service %></td>
        <td><%= link_to "Въпросник", edit_questionnaire_path(id: participant.access_token) %>
        <td><%= link_to 'Покажи', participant %></td>
        <td><%= link_to 'Редактирай', edit_participant_path(participant) %></td>
        <td><%= link_to 'Изтрий', participant, method: :delete, data: { confirm: 'Сигурни ли сте, че искате да изтриете участника?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нов участник', new_participant_path %>

<% participant_emails = Participant.all.map { |p| p.entity.contacts.first&.person_email }.reject { |e| e.blank? }.map { |e| e.strip }.join(",") %>
<p>Имейли на всички участници:</p>
<p><%= participant_emails %></p>


<a href="mailto:<%= participant_emails %>?subject=test%20messed&body=testt%0amessed"> Тест мейл</a>

<p>
<%
body = "Здравейте, скъпи изложители на шоколадовия фестивал!

Надяваме се в навечерието на събитието да сте също толкова вдъхновени от наближаващия фестивал, колкото и ние! Решихме да съберем част от добрите идеи, които сме забелязали, че работят добре и привличат клиенти, за да бъде още по-ползотворно Вашето участие във фестивала.

Тези съвети не са задължителни, но най-вероятно ще са Ви полезни, ако участвате в събитието за пръв път или искате да подобрите участието си.

1) Ако предлагате отстъпка на щанда си, направете го очевидно. Сложете по-голям надпис със съдържание, че само днес ще имат възможност да закупят продуктите Ви с 10-15% отстъпка, например.
2) Ако предлагате по-нетипични и интересни шоколади, не забравяйте да ги обозначите. Примерно, с голяма стрелка или надпис посочете продукта и приканете посетителите да го опитат.
3) Ако предлагате дегустации, може да ги напишете и тях в информационна табелка. Така хората ще знаят да се върнат на щанда Ви и определено ще направите впечатление. Хората, които дегустират, могат да Ви станат клиенти.
4) Помислете за по-атрактивно представяне на самия щанд: ако можете, правете демонстрации, заговаряйте се с децата, разказвайте интересни истории за продуктите.
5) Пиковите часове се очаква да са както всяка година: от 13 до 15:30 часа. Тогава се опитайте да бъдете повече хора на щанда.
6) Усмивките винаги помагат, така че не ги забравяйте, дори към края на деня.
7) Не оставяйте щанда си празен в никакъв момент от деня. Няма по-лош маркетинг от това посетителите да Ви гледат празния щанд. Припомняме, че в общите условия сте се съгласили да сте на щанда си по време на цялото събитие, когато то е отворено за посетители.
8) При желание, обновете корицата си във фейсбук страницата си с тази в прикачения файл в продължение на уикенда. Добре е да се знае, че ще участвате във фестивала.
9) Специално за участниците във фестивала сме договорили промоционален пакет за реклама в групата на радио Fresh. Прикачаме повече информация.
10) Измислете игри с посетителите или им раздавайте ваучери за отстъпки.

Поздрави,
Екипът на Grand Chocolate Festival "

mail_data = {subject: "Маркетинг имейл за Grand Chocolate Festival", body: body}%>
<a href="mailto:<%= "" %>?<%= mail_data.to_param.gsub("+", "%20") %>"> Две седмици преди събитието: Маркетинг имейл</a>
</p>

<p>

<%
body = "

Уважаеми изложители и участници в Grand chocolate Festival 2018,

Молим, обърнете внимание на следната информация:

1) Зареждане на щандовете:
ПЕТЪК: 16:30-20 часа, като това време можете да използвате за подреждане и зареждане на щанодвете
СЪБОТА: 8:30-10:00 часа, като това време можете да използвате за дооправяне на щандовете (но молим да не зареждате тепърва щанда си тогава)
НЕДЕЛЯ: 9:00-10:00 часа

2) Паркиране: моля погледнете схемата
ПЕТЪК: Вход от локалното на Цариградско шосе в посока Център преди сградата на Интер Експо Център, веднага след хотел Best Western Expo. Входът е отбелязан на схемата. Паркиране за зареждане: на червената или синята зона. Използвайте входа откъм фоайето и 5b за зареждане. Молим Ви да имате предвид, че престоя в червената зона е разрешен до 1 час. След разтоварване МПС могат да бъдат оставени в паркинга, обозначен в синьо на схемата.
СЪБОТА: Вход: същият или пешеходно откъм метрото (ще има банери на събитието, минавате покрай тях вляво). Паркиране на синята зона на схемата (безплатно за един автомобил). Зареждането става през главния вход.
НЕДЕЛЯ: от 10 до 18 синя зона за един автомобил. От 18 до 20 часа червена и синя зона.

3) Пропуски за колите
Всички фирми трябва да вземат своя пакет от пропуски в петък от рецепцията на гардероба във фоайето на зала 5.
ПЕТЪК: На входа само кажете името на Вашата фирма. Ако използвате подизпълнители, кажете им да казват името на Вашата фирма. На входа ще Ви дадат ПРОПУСК ЗА ЗАРЕЖДАНЕ преди изложението и за прибиране на щандовете след изложението. Този пропуск не важи за паркиране и влизане в събота от 8:30 до 18:30 и в неделя от 9 до 18 часа.
СЪБОТА И НЕДЕЛЯ: В петък ще Ви се даде 1 брой ПРОПУСК ЗА ФИРМЕНА КОЛА за всеки от Вашите щандове. Този пропуск важи за събота от 8:30 до 18:30 и в неделя от 9 до 20 часа.

Тоест:
Ще получите два пропуска:
* ПРОПУСК ЗА ЗАРЕЖДАНЕ за петък от 16:30 до 20 часа и неделя от 18 до 20 часа (ще го  получите на входа)
* ПРОПУСК ЗА ФИРМЕНА КОЛА за събота от 8:30 до 18:30 и неделя от 9 до 20 часа (ще го получите в петък във фоайето на зала 5)


4) Пешеходен достъп от метрото за Вашите служители:
И на бариерата за изход и за вход ще имат списък на фирмите изложители. Нека Вашите служители кажат от коя фирма са на бариерата.
Имайте предвид, че при желание за достъп до залата без МПС преди отваряне на вратите за посетители (10:00ч. и двата дни) можете да влизате само през бариера „изход“ при представяне на бадж, че сте изложител.


5) В деня на зареждането ще има 4 бр. колички за пренасяне на оборудване и продукция. Моля ако се ползват количките, да бъдат връщани на изходите, за да се ползват от всички участници.

6) Температурата в залата: 20*C. Все пак имайте предвид, че температурата може да се покачи в пиковите часове, когато има най-много хора в залата.

7) Задължително през цялото работно време за посетители трябва да имате човек на щанда.

8) По време на презентациите ще разполагате с проектор, озвучаване, екран и по желание маса. Молим презентациите да бъдат на флашка в power point или pdf формат.



Прикаченият файл е схема на зареждане и паркиране.

МОЛИМ ДА ОБЪРНЕТЕ ВНИМАНИЕ: ПОРАДИ ЗАЧЕСТИЛИТЕ ПРОВЕРКИ НА НАП И БАБХ НА ИЗЛОЖЕНИЯ И ФЕСТИВАЛИ, БЪДЕТЕ ГОТОВИ ЗА ВНЕЗАПНИ ПРОВЕРКИ. ИЗДАВАЙТЕ КАСОВИ БЕЛЕЖКИ ЗАДЪЛЖИТЕЛНО ЗА ВСЯКА ОСЪЩЕСТВЕНА ТРАНЗАКЦИЯ! НОСЕТЕ ЗДРАВНИТЕ СИ КНИЖКИ И ДОБРО РАБОТНО ОБЛЕКЛО! НОСЕТЕ ВСИЧКИ ПРИДРУЖАВАЩИ ДОКУМЕНТИ ЗА ХРАНАТА, КОИТО ДОКАЗВАТ ОТ КАКЪВ ПРОИЗХОД И ОТ КОЯ ПАРТИДА СА ХРАНИТЕ. АКО ИМАТЕ СПЕЦИАЛНИ ХРАНИ ОТ ТИПА НА БИО ПРОДУКТИ, ТРЯБВА ЗАДЪЛЖИТЕЛНО ДА СА ОБОЗНАЧЕНИ. НОСЕТЕ РЪКАВИЦИ И БЪДЕТЕ С ПРИБРАНИ КОСИ. АКО ИМАТЕ ХЛАДИЛНИ ВИТРИНИ, ПОПЪЛВАЙТЕ ЧЕКЛИСТА ЗА ТЕМПЕРАТУРА. ВСИЧКИ ХРАНИ ТРЯБВА ДА СА ПОД КАПАЦИ, ЗАД СТЪКЛО ИЛИ ПОДХОДЯЩО ОПАКОВАНИ!

АКО ИМАТЕ ВЪПРОСИ ОТНОСНО БАБХ И ДОКУМЕНТИТЕ, КОИТО ТРЯБВА ДА НОСИТЕ ИЛИ ДА ПОПЪЛНИТЕ, МОЛЯ, ТЪРСЕТЕ НАШИЯ КОНСУЛТАНТ ПО БЕЗОПАСНОСТ НА ХРАНИТЕ, СИЛВИЯ: 0896 80 47 72! Тя е бивш инспектор и настоящ консултант на частна практика, който ни помага за събитието!

В деня на събитието, при въпроси, свързани с настаняването и освобождаването, търсете: Иван Иванов на телефон: 0997 88 69 37.
Поздрави,
Екипът на Grand Chocolate Festival "

mail_data = {subject: "ВАЖНА ИНФОРМАЦИЯ за настаняване и освобождаване на Grand Chocolate Festival", body: body}%>
<a href="mailto:<%= "" %>?<%= mail_data.to_param.gsub("+", "%20") %>"> Една седмица преди събитието: ВАЖНА ИНФОРМАЦИЯ за настаняване и освобождаване на Grand Chocolate Festival</a>
</p>
