<p id="notice"><%= notice %></p>
<%
body = "Здравейте,

Изпращаме Ви имейл с въпросник за уточняване на детайлите покрай участието Ви в Grand Chocolate Festival 2018.

При въпроси, молим, не се колебайте да ни потърсите!

Молим да попълните въпросника до 15 февруари:

Линк:

Поздрави,
Екипът на Grand Chocolate Festival "

mail_data = {subject: "Въпросник за изложители Grand Chocolate Festival", body: body}
%>
<a href="mailto:info@melodica-events.com?subject=test%20messed&body=testt%0amessed"> Test Mail Link</a>
<a href="mailto:info@melodica-events.com?<%= mail_data.to_param.gsub("+", "%20") %>"> Test Mail Link</a>

<h1>Участник</h1>

<%= link_to 'Нов участник', new_participant_path %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Щанд</th>
      <th>Институция</th>
      <th>Столове?</th>
      <th>Маса?</th>
      <th>Човек за контакт на събитието</th>
      <th>Телефон на човек на събитието</th>
      <th>Отговорник по хигиената</th>
      <th>Брой покани</th>
      <th>Адрес за кореспонденция</th>
      <th>Брой баджове</th>
      <th>Изложба?</th>
      <th>Експонати</th>
      <th>Лотария?</th>
      <th>Награди</th>
      <th>Дегустации?</th>
      <th>Часове на дегустации</th>
      <th>Електричество</th>
      <th>Брой контакти</th>
      <th>Кола номер</th>
      <th>Принт табела</th>
      <th>Gcf сайт: име</th>
      <th>Gcf сайт: url</th>
      <th>Gcf сайт: описание</th>
      <th>Gcf сайт: адрес</th>
      <th>Презентация?</th>
      <th>Тема презентация</th>
      <th>Лектор презентация</th>
      <th>Коментари</th>
      <th>Общи условия</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.order('stand_number').each do |participant| %>
      <tr>
        <td><%= participant.stand_number %></td>
        <td><%= participant.entity.common_name %></td>
        <td><%= participant.questionnaire&.need_chairs %></td>
        <td><%= participant.questionnaire&.need_table %></td>
        <td><%= participant.questionnaire&.event_contact_person_name %></td>
        <td><%= participant.questionnaire&.event_contact_person_phone %></td>
        <td><%= participant.questionnaire&.hygiene_person %></td>
        <td><%= participant.questionnaire&.invitation_number %></td>
        <td><%= participant.questionnaire&.correspondence_address %></td>
        <td><%= participant.questionnaire&.badges_number %></td>
        <td><%= participant.questionnaire&.participate_exhibit %></td>
        <td><%= participant.questionnaire&.exhibit_items %></td>
        <td><%= participant.questionnaire&.participate_lottary %></td>
        <td><%= participant.questionnaire&.lottary_items %></td>
        <td><%= participant.questionnaire&.participate_sampling %></td>
        <td><%= participant.questionnaire&.sampling_hours %></td>
        <td><%= participant.questionnaire&.electricity_consumption %></td>
        <td><%= participant.questionnaire&.plugs_number %></td>
        <td><%= participant.questionnaire&.car_registration_number %></td>
        <td><%= participant.questionnaire&.printed_label %></td>
        <td><%= participant.questionnaire&.gcf_website_name %></td>
        <td><%= participant.questionnaire&.gcf_website_url %></td>
        <td><%= participant.questionnaire&.gcf_website_description %></td>
        <td><%= participant.questionnaire&.gcf_website_address %></td>
        <td><%= participant.questionnaire&.participate_presentation %></td>
        <td><%= participant.questionnaire&.presentation_topic %></td>
        <td><%= participant.questionnaire&.presentation_speaker %></td>
        <td><%= participant.questionnaire&.participant_comments %></td>
        <td><%= participant.questionnaire&.terms_of_service %></td>
        <td><%= link_to "Въпросник", edit_questionnaire_path(id: participant.access_token) %>
        <td><%= link_to 'Покажи', participant %></td>
        <td><%= link_to 'Редактирай', edit_participant_path(participant) %></td>
        <td><%= link_to 'Изтрий', participant, method: :delete, data: { confirm: 'Сигурни ли сте, че искате да изтриете участника?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нов участник', new_participant_path %>
