<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_one_name %>
    <%= form.text_field :person_one_name, id: :contact_person_one_name %>
  </div>

  <div class="field">
    <%= form.label :person_one_phone %>
    <%= form.text_field :person_one_phone, id: :contact_person_one_phone %>
  </div>

  <div class="field">
    <%= form.label :person_one_email %>
    <%= form.text_field :person_one_email, id: :contact_person_one_email %>
  </div>

  <div class="field">
    <%= form.label :person_one_position %>
    <%= form.text_field :person_one_position, id: :contact_person_one_position %>
  </div>

  <div class="field">
    <%= form.label :person_two_name %>
    <%= form.text_field :person_two_name, id: :contact_person_two_name %>
  </div>

  <div class="field">
    <%= form.label :person_two_phone %>
    <%= form.text_field :person_two_phone, id: :contact_person_two_phone %>
  </div>

  <div class="field">
    <%= form.label :person_two_email %>
    <%= form.text_field :person_two_email, id: :contact_person_two_email %>
  </div>

  <div class="field">
    <%= form.label :person_two_position %>
    <%= form.text_field :person_two_position, id: :contact_person_two_position %>
  </div>

  <div class="field">
    <%= form.label :person_three_name %>
    <%= form.text_field :person_three_name, id: :contact_person_three_name %>
  </div>

  <div class="field">
    <%= form.label :person_three_phone %>
    <%= form.text_field :person_three_phone, id: :contact_person_three_phone %>
  </div>

  <div class="field">
    <%= form.label :person_three_email %>
    <%= form.text_field :person_three_email, id: :contact_person_three_email %>
  </div>

  <div class="field">
    <%= form.label :person_three_position %>
    <%= form.text_field :person_three_position, id: :contact_person_three_position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
