<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_name %>
    <%= form.text_field :person_name, id: :contact_person_name %>
  </div>

  <div class="field">
    <%= form.label :person_phone %>
    <%= form.text_field :person_phone, id: :contact_person_phone %>
  </div>

  <div class="field">
    <%= form.label :person_email %>
    <%= form.text_field :person_email, id: :contact_person_email %>
  </div>

  <div class="field">
    <%= form.label :person_position %>
    <%= form.text_field :person_one_position, id: :contact_person_one_position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
