<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Person one name</th>
      <th>Person one phone</th>
      <th>Person one email</th>
      <th>Person one position</th>
      <th>Person two name</th>
      <th>Person two phone</th>
      <th>Person two email</th>
      <th>Person two position</th>
      <th>Person three name</th>
      <th>Person three phone</th>
      <th>Person three email</th>
      <th>Person three position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.person_one_name %></td>
        <td><%= contact.person_one_phone %></td>
        <td><%= contact.person_one_email %></td>
        <td><%= contact.person_one_position %></td>
        <td><%= contact.person_two_name %></td>
        <td><%= contact.person_two_phone %></td>
        <td><%= contact.person_two_email %></td>
        <td><%= contact.person_two_position %></td>
        <td><%= contact.person_three_name %></td>
        <td><%= contact.person_three_phone %></td>
        <td><%= contact.person_three_email %></td>
        <td><%= contact.person_three_position %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
