<p id="notice"><%= notice %></p>

<h1>Контакти</h1>

<table>
  <thead>
    <tr>
      <th>Човек за контакти</th>
      <th>Телефон</th>
      <th>Email</th>
      <th>Позиция в институцията</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.person_name %></td>
        <td><%= contact.person_phone %></td>
        <td><%= contact.person_email %></td>
        <td><%= contact.person_position %></td>

        <td><%= link_to 'Покажи', entity_contact %></td>
        <td><%= link_to 'Редактирай', edit_entity_contact_path(contact) %></td>
        <td><%= link_to 'Изтрий', contact, method: :delete, data: { confirm: 'Сигурни ли сте, че искате да изтриете контакта?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нов контакт', new_entity_contact_path %>
