<p id="notice"><%= notice %></p>

<p>
  <strong>Person one name:</strong>
  <%= @contact.person_one_name %>
</p>

<p>
  <strong>Person one phone:</strong>
  <%= @contact.person_one_phone %>
</p>

<p>
  <strong>Person one email:</strong>
  <%= @contact.person_one_email %>
</p>

<p>
  <strong>Person one position:</strong>
  <%= @contact.person_one_position %>
</p>

<p>
  <strong>Person two name:</strong>
  <%= @contact.person_two_name %>
</p>

<p>
  <strong>Person two phone:</strong>
  <%= @contact.person_two_phone %>
</p>

<p>
  <strong>Person two email:</strong>
  <%= @contact.person_two_email %>
</p>

<p>
  <strong>Person two position:</strong>
  <%= @contact.person_two_position %>
</p>

<p>
  <strong>Person three name:</strong>
  <%= @contact.person_three_name %>
</p>

<p>
  <strong>Person three phone:</strong>
  <%= @contact.person_three_phone %>
</p>

<p>
  <strong>Person three email:</strong>
  <%= @contact.person_three_email %>
</p>

<p>
  <strong>Person three position:</strong>
  <%= @contact.person_three_position %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
