<%= form_with(model: questionnaire, url: questionnaire_path(id: participant.access_token), method: :put, local: true, class: "questionnaire") do |form| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag(:access_token, participant.access_token) %>

  <p>Скъпи изложители, молим да попълните Вашия въпросник с информация за участието си в <b>Grand Chocolate Festival</b>
  за настоящата година! Ако имате въпроси за попълването на въпросника, не се колебайте да ни потърсите на <em>info@melodica-corporate.com</em>.
  Задължителните полета са отбелязани със звездичка.</p>

  <br/>

  <div class="field">
    <%= form.label :need_chairs, "В цената на щанда имате включени два стола. Ако предпочитате, можем да не ги слагаме.
    Ще ги използвате ли? Ако ще ги ползвате, сложете отметка. Ако няма да ги използвате, оставете квадратчето празно!" %>
    <%= form.check_box :need_chairs, id: :questionnaire_need_chairs %><span class="labelText">Да, ще използваме столовете!</span>
  </div>

  <div class="field">
    <%= form.label :need_table, "В цената на щанда имате включена маса с размери 1.80 на 0.75 м с височина 0.73 м.
    Ако предпочитате, можем да не я слагаме. Ще използвате ли масата? Ако ще я ползвате, сложете отметка. Ако няма да я използвате, оставете квадратчето празно!" %>
    <%= form.check_box :need_table, id: :questionnaire_need_table %><span class="labelText">Да, ще използваме масата!</span>
  </div>

  <div class="field">
    <%= form.label :event_contact_person_name, "Посочете лице за контакт
    в дните на събитието, което ще бъде на разположение за връзка в случай на
    нужда от страна на организатора или някоя институция:*" %>
    <%= form.text_field :event_contact_person_name, id: :questionnaire_event_contact_person_name %>
  </div>

  <div class="field">
    <%= form.label :event_contact_person_phone, "Посочете телефон на лицето за контакт: *" %>
    <%= form.text_field :event_contact_person_phone, id: :questionnaire_event_contact_person_phone %>
  </div>

  <div class="field">
    <%= form.label :hygiene_person, "Всеки щанд трябва да разполага с лице, отговарящо за хигиената и
    спазването на изискванията на БАБХ (с тях можете да се запознаете от прикачените в имейла файлове или в линка по-долу).
    Това лице трябва да разполага със здравна книжка и да води хигиенен дневник.
    Лицето трябва да е назначено с протокол за отговорник по хигиената, като организаторът трябва да разполага с копие
    от протокола. Копието трябва да е предадено на организатора в деня на събитието. Всички хора на щанда, които пипат храна,
    независимо дали е опакована или не, трябва да имат здравни книжки. Молим посочете лицето, отговарящо за хигиената: *" %>
    <%= form.text_field :hygiene_person, id: :questionnaire_hygiene_person %>
  </div>

  <div class="field">
    <%= form.label :invitation_number, "Всеки щанд разполага с до 10 безплатни ВИП пасове за свои гости на събитието.
    Хора с ВИП пасове не чакат на опашката. ВИП пасовете могат да се използват за Ваши бизнес партньори, приятели, роднини или други хора,
    които сте решили да поканите по Ваше осмотрение. Обърнете внимание, че тези ВИП пасове не са за Вашите служители, понеже
    те получават изложителски баджове, с които могат спокойно да влизат и да излизат от събитието. Също така, не ги предоставяйте на медии,
    тъй като всички медии влизат безплатно с медиен пас. Ако искате да получите по-малко от 8 ВИП паса, пишете ни тяхното число.
    Изложители с над един щанд ползват максимум по 10 ВИП паса за всеки един от щандовете си. Тоест, ако сте взели два щанда,
    разполагате с максимум 20 ВИП паса, ако ползвате три щанда: с 30 и т.н. " %>
    <%= form.number_field :invitation_number, id: :questionnaire_invitation_number %>
  </div>

  <div class="field">
    <%= form.label :correspondence_address, "Посочете официален адрес за кореспонденция, на който да изпратим ВИП пасовете
    и при нужда други материали: *" %>
    <%= form.text_field :correspondence_address, id: :questionnaire_correspondence_address %>
  </div>

  <div class="field">
    <%= form.label :badges_number, "Посочете брой изложителски баджове, които са използват за хората на Вашия щанд (служители,
    промоутъри, фирмени представители, хора, занимаващи се с доставка, и други). Ако не посочите бройка, организаторът
    счита, че ще използвате 5 баджа." %>
    <%= form.number_field :badges_number, id: :questionnaire_badges_number %>
  </div>

  <div class="field">
    <%= form.label :participate_exhibit, "На фестивала, като всяка година, ще има изложба. Тя обикновено привлича добро
    медийно внимание. Експонатите са надписани. Ще предоставите ли продукт за изложбата? " %>
    <%= form.check_box :participate_exhibit, id: :questionnaire_participate_exhibit %><span class="labelText">Да, ще участваме в изложбата!</span>
  </div>

  <div class="field">
    <%= form.label :exhibit_items, "Ако да, какъв експонат ще предоставите за изложбата?" %>
    <%= form.text_field :exhibit_items, id: :questionnaire_exhibit_items %>
  </div>

  <div class="field">
    <%= form.label :participate_lottary, "На събитието и тази година ще има томбола. Тя се тегли в неделя от 17:45 часа
    и служи за край на събитието. За томболата ще има лайв стрийминг от събитието. Резултатите ще бъдат обявени
    на сайта на фестивала и на фейсбук страницата и събитието. Ще предоставяте ли награда за събитието?" %>
    <%= form.check_box :participate_lottary, id: :questionnaire_participate_lottary %><span class="labelText">Да, ще предоставяме награда за томболата!</span>
  </div>

  <div class="field">
    <%= form.label :lottary_items, "Ако да, каква награда/награди ще предоставите за томболата?" %>
    <%= form.text_field :lottary_items, id: :questionnaire_lottary_items %>
  </div>

  <div class="field">
    <%= form.label :participate_sampling, "Ще правите ли дегустации? Дегустациите
    се обявяват предварително във фейсбук и в дните на събитието на информационна табелка." %>
    <%= form.text_field :participate_sampling, id: :questionnaire_participate_sampling %>
  </div>

  <div class="field">
    <%= form.label :sampling_hours, "Ако да, в какви часове ще правите дегустации?" %>
    <%= form.text_field :sampling_hours, id: :questionnaire_sampling_hours %>
  </div>

  <div class="field">
    <%= form.label :electricity_consumption, "Какво електричество ще използвате? Молим да обозначите какъв електроуред
    с каква мощност и колко бройки ще внесете! В залата има възможност за трифазен ток, който е срещу допълнително заплащане.
    Молим да обозначите, ако ще използвате такъв. *" %>
    <%= form.text_field :electricity_consumption, id: :questionnaire_electricity_consumption %>
  </div>

  <div class="field">
    <%= form.label :plugs_number, "Колко контакта ще позвате за електрическите си устройства? *" %>
    <%= form.number_field :plugs_number, id: :questionnaire_plugs_number %>
  </div>

  <div class="field">
    <%= form.label :car_registration_number, "В деня на събитието имате право на едно превозно средство на щанд за зареждане
    на щанда, което се паркира на паркинга до зала 5 и може да влиза и да излиза свободно. Ако имате два щанда, можете да
    ползвате две превозни средства, при три: три и т.н. Молим да напишете регистрационния номер на превозните средства: *" %>
    <%= form.text_field :car_registration_number, id: :questionnaire_car_registration_number %>
  </div>

  <div class="field">
    <%= form.label :printed_label, "На всеки щанд се полага хартиена информационна табелка с името на изложителя с размер
    0.4 на 0.15 м. Как искате да бъде изписано името на Вашия щанд? *" %>
    <%= form.text_field :printed_label, id: :questionnaire_printed_label %>
  </div>

  <div class="field">
    <%= form.label :gcf_website_name, "В сайта на шоколадовия фестивал ще бъдете представени като изложител.
    Можете да фигурирате в списъка с търговска марка или име на фирмата Ви. Как искате да бъдете изписани като изложител? *" %>
    <%= form.text_field :gcf_website_name, id: :questionnaire_gcf_website_name %>
  </div>

  <div class="field">
    <%= form.label :gcf_website_url, "В сайта на шоколадовия фестивал ще бъде обявен Ваш уебсайт (или ако нямате, фейсбук страница).
    Посочете адреса на сайта, който искате посетителите на сайта ни да посещават. *" %>
    <%= form.text_field :gcf_website_url, id: :questionnaire_gcf_website_url %>
  </div>

  <div class="field">
    <%= form.label :gcf_website_description, "В сайта на шоколадовия фестивал ще бъдете представени с кратко описание в рамките
    на 50 символа. Молим да ни напишете описание, с което искате да бъдете представени! Ако не напишете, ние ще имаме ангажимент
    да Ви представим по възможно най-добрия начин по наша преценка." %>
    <%= form.text_field :gcf_website_description, id: :questionnaire_gcf_website_description %>
  </div>

  <div class="field">
    <%= form.label :gcf_website_address, "В сайта на шоколадовия фестивал ще бъде упомент адрес, на който Вашите клиенти могат да Ви намерят.
    Молим да обозначите физически адрес, на Вашето предприятие или страница на сайт, ако имате повече от един адрес. Ако имате повече от един обект, молим да не изреждате
    всичките си адреси в това поле, а да посочите страница в интернет." %>
    <%= form.text_field :gcf_website_address, id: :questionnaire_gcf_website_address %>
  </div>

  <div class="field">
    <%= form.label :participate_presentation, "Ще участвате ли в презентациите? Това са 30 минутни слотове, в които можете
    да споделите нещо с посетителите, както и да направите демонстрации. Ще разполагате с лаптоп с операционна система Windows,
    проектор и маса. Всички презинтации и материали трябва да се предадат предварително на организатора в срок от една седмица
    преди началото на фестивала." %>
    <%= form.check_box :participate_presentation, id: :questionnaire_participate_presentation %><span class="labelText">Да, ще участваме в презентациите!</span>
  </div>

  <div class="field">
    <%= form.label :presentation_topic, "Ако да, каква ще е темата на Вашата презентация?" %>
    <%= form.text_field :presentation_topic, id: :questionnaire_presentation_topic %>
  </div>

  <div class="field">
    <%= form.label :presentation_speaker, "Ако да, посочете името на човекът, който ще презентира и ролята, която изпълнява
    спрямо Вашата фирма." %>
    <%= form.text_field :presentation_speaker, id: :questionnaire_presentation_speaker %>
  </div>

  <div class="field">
    <%= form.label :participant_comments, "Ако искате да ни оставите коментар или да ни кажете нещо, можете да ни пишете в тази част." %>
    <%= form.text_area :participant_comments, id: :questionnaire_participant_comments %>
  </div>


  <p> Съгласие с <%= link_to "Общите условия ", terms_of_service_path%> и <%= link_to "Изисквания на БАБХ: ", terms_of_babh_path%></p>
  <div class="field">
    <%= form.label :terms_of_service, "Фирмата участник декларира, че фирма и
    целият персонал на щанда е запознат с Общите условия за участие във фестивала. Фирмата се задължава да спазва
    Общите условия и да гарантира изпълнение от страна на своите служители. Фирмата се съгласява да спазва изискванията
    на настоящото законодателство за безопасност на храните.*" %>
    <%= form.check_box :terms_of_service, id: :questionnaire_terms_of_service %> <span class="labelText">Да, съгласни сме с общите условия и хигиенните изискванияя!</span>
  </div>

  <div class="actions">
    <%= form.submit(value = "Запази промените") %>
  </div>
<% end %>
