<p id="notice"><%= notice %></p>

<h1>Questionnaires</h1>

<table>
  <thead>
    <tr>
      <th>Need chairs</th>
      <th>Need table</th>
      <th>Event contact person name</th>
      <th>Event contact person phone</th>
      <th>Hygiene person</th>
      <th>Invitation number</th>
      <th>Correspondence address</th>
      <th>Badges number</th>
      <th>Participate exhibit</th>
      <th>Exhibit items</th>
      <th>Participate lottary</th>
      <th>Lottary items</th>
      <th>Participate sampling</th>
      <th>Sampling hours</th>
      <th>Electricity consumption</th>
      <th>Plugs number</th>
      <th>Car registration number</th>
      <th>Printed label</th>
      <th>Gcf website name</th>
      <th>Gcf website url</th>
      <th>Gcf website description</th>
      <th>Gcf website address</th>
      <th>Participate presentation</th>
      <th>Presentation topic</th>
      <th>Presentation speaker</th>
      <th>Participant comments</th>
      <th>Terms of service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.need_chairs %></td>
        <td><%= questionnaire.need_table %></td>
        <td><%= questionnaire.event_contact_person_name %></td>
        <td><%= questionnaire.event_contact_person_phone %></td>
        <td><%= questionnaire.hygiene_person %></td>
        <td><%= questionnaire.invitation_number %></td>
        <td><%= questionnaire.correspondence_address %></td>
        <td><%= questionnaire.badges_number %></td>
        <td><%= questionnaire.participate_exhibit %></td>
        <td><%= questionnaire.exhibit_items %></td>
        <td><%= questionnaire.participate_lottary %></td>
        <td><%= questionnaire.lottary_items %></td>
        <td><%= questionnaire.participate_sampling %></td>
        <td><%= questionnaire.sampling_hours %></td>
        <td><%= questionnaire.electricity_consumption %></td>
        <td><%= questionnaire.plugs_number %></td>
        <td><%= questionnaire.car_registration_number %></td>
        <td><%= questionnaire.printed_label %></td>
        <td><%= questionnaire.gcf_website_name %></td>
        <td><%= questionnaire.gcf_website_url %></td>
        <td><%= questionnaire.gcf_website_description %></td>
        <td><%= questionnaire.gcf_website_address %></td>
        <td><%= questionnaire.participate_presentation %></td>
        <td><%= questionnaire.presentation_topic %></td>
        <td><%= questionnaire.presentation_speaker %></td>
        <td><%= questionnaire.participant_comments %></td>
        <td><%= questionnaire.terms_of_service %></td>
        <td><%= link_to 'Show', questionnaire %></td>
        <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire) %></td>
        <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questionnaire', new_questionnaire_path %>
