
<h2>Вашите отговори</h2>

<p>
  <strong>Година на участие:</strong>
  <%= @feedback.year_participation %>
</p>

<p>
  <strong>Размер на щанда:</strong>
  <%= @feedback.stand_size %>
</p>

<p>
  <strong>Отстъпки на щанда:</strong>
  <%= @feedback.stand_price %>
</p>

<p>
  <strong>Комуникация с организатор:</strong>
  <%= @feedback.communication_with_organizer %>
</p>

<p>
  <strong>Представяне в социални мрежи на бранда:</strong>
  <%= @feedback.ad_coverage %>
</p>

<p>
  <strong>Комуникация с посетителите:</strong>
  <%= @feedback.communication_with_visitors %>
</p>

<p>
  <strong>Интерес от страна на посетителите:</strong>
  <%= @feedback.visitor_interest %>
</p>

<p>
  <strong>Атракции и демонстрации на щанда:</strong>
  <%= @feedback.stand_attractions %>
</p>

<p>
  <strong>Замислени промени в участието:</strong>
  <%= @feedback.participation_improvements %>
</p>

<p>
  <strong>Организационни подобрения:</strong>
  <%= @feedback.organization_improvements %>
</p>

<p>
  <strong>Коментари:</strong>
  <%= @feedback.comments %>
</p>

<p>Вашите отговори бяха запазени, можете да затворите този прозорец! Благодарим! </p>
