<!DOCTYPE html>
<html>
  <head>
    <title>Gcf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css" media="print">
      .hidden-print {display: none;}

</style>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice hidden-print"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= render "layouts/header" unless (controller_name == "questionnaires" || controller_name == "static_pages" || controller_name == "feedbacks")%>
    <%= render "layouts/navbar" unless (controller_name == "questionnaires" || controller_name == "static_pages" || controller_name == "feedbacks")%>

    <%= yield %>
  </body>
</html>
